@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.appointment_button {
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  bottom: 0;
  align-items: center;
  
}

/* .bn3637 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}
  
.bn37 {
    border-color: transparent;
    background-color: #fff;
    color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
    
.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
} */

.booksy-widget-button {
    background: none !important;
    transition: none !important;
    width: inherit !important;
    height: inherit !important;
    
}

.booksy-widget-button::before {
    content: "Book Now";
    color: #000000;
    display: block;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
    text-align:inherit;
    align-items: center;
    
}

.booksy-widget-container-dialog {
   
    text-decoration: none;
    text-align: center !important;
    color: #fff;
    height: 30px!important;
    width: 120px !important;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    border-color: transparent;
    background-color: #fff;
    color: #000;
    
}

.booksy-widget-container-default .booksy-business-link {
    background: none !important;
}

#script {
    display: flex;
    justify-content: center;
    align-items: center;
}