
.hours {
    display: block;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.5vw;
    width: 30%;
}

.hours h2 {
    font-family: 'Satisfy';
    text-align: center;
}

.hours p {
    font-family: 'Reem Kufi', sans-serif;
}

.time {
    float: right;
}

@media only screen and (max-width: 480px) {
    .hours {
        width: 90%;
        padding-bottom: 2em;
        margin-top: 0;
        font-size: 1em;
    }

    .business_image {
        border-radius: 0;
    }
}