.business_hours {
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
    width: 100%;
}

.business_hours h2 {
    font-family: 'Satisfy', cursive;
}

.business_hours p {
    font-family: 'Reem Kufi', sans-serif;
}