.image-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.barbershop-image {
    height: 25rem;
    width: 18rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
    .image-slider {
        flex-direction: column;
        overflow-x: scroll;
        height: 60vh;
    }

    .barbershop-image {
        width: 20rem;
        margin: 10px;
    }

}