.location {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Reem Kufi', sans-serif;
    display: flex;
    justify-content: space-evenly; 
    width: 90%;
    padding: 1em 0 1em 0;
}

.business_image {
    width: 40%;
}

.location_information {
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5vw;
}

.location_information h1 {
    font-family: 'Satisfy', cursive
  }

  @media only screen and (max-width: 480px) {

    .location {
        flex-direction: column-reverse;
    }

    .location_information {
        font-size: 1rem;
        margin-bottom: 20%;
        margin-top: none;
    }
  
    .business_image {
        width: 100%;
    }
}