.pricing {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.pricing h2 {
    font-family: 'Satisfy', cursive;
}

.pricing p {
    font-family: 'Reem Kufi', sans-serif;
}


@media only screen and (max-width: 480px) {
    .pricing {
        padding-left: 0;
        padding-right: 0;
    }
}