.pricing {
    
    padding-left: 10%;
    padding-right: 10%;
}

.pricing h2 {
    font-family: 'Satisfy', cursive;
}

.pricing p {
    font-family: 'Reem Kufi', sans-serif;
}
.prices {
    float: right;
}


@media only screen and (max-width: 480px) {
    .pricing {
        padding-left: 5%;
        padding-right: 5%;
    }
}