.pricing {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1vw;
}

.pricing h2 {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

.pricing p {
    font-family: 'Reem Kufi', sans-serif;
}
.prices {
    float: right;
}

.services {
    width: 40%;
}

.other_services {
    width: 40%;
}


@media only screen and (max-width: 480px) {
    .pricing {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
        font-size: 1rem;
    }
    .services , .other_services {
        width: 100% !important;
    }


}