.App {
  text-align: center;
  font-family: 'Reem Kufi', sans-serif
}

.location_information {
  font-family: 'Reem Kufi', sans-serif
}
.location_information h2 {
  font-family: 'Satisfy', cursive
}

.group-image {
  border-radius: 10px;
}

.progessBar{
  height: 1rem;
  width: 0%;
  background-color: rgb(68, 212, 231);
  color: white;
  padding:2px
}

.file-upload{

  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  font-size: 1rem;
}

input , div , button{
  margin-top: 2rem;
}

.upbutton{
   width: 5rem;
   padding: .5rem;
   background-color: #2767e9;
   color: aliceblue;
   font-size: 1rem;
   cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .barber-logo {
    width: 70%;
  }

  .group-image {
    width: 90%;
  }
}