body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.root {
  width: 100%;
}

hr {
  width: 80%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}



ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
