@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgba(255, 255, 255, 0.849);
  margin-left: auto;
  margin-right: auto;
  
}

.image-gallery {
  margin-top: 2%;
}

hr {
  width: 80%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}



ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


@media only screen and (max-width: 480px) {

  body {
    width: 90%;
  }
  
  hr {
    width: 90%;
  }

}